@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-width:275px;
  margin:0;
  position: relative;
  text-align: center;
  font-family: arial;
  display:inline-block;
  padding:0;
  margin-bottom:30px;
  outline: none;
  flex:1;
  margin:10px;
  padding:10px;
  height: 360px;
  border-radius:5px;
  
}
.card div{
  z-index:0;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: 150px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index:10;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.new-buttons{
  color:white;
  background-color:#00c20d;
  padding:10px;
  width:100px;
  border-radius:10px;
  border:0;
  text-align: center;
  cursor: pointer;
  font-size:18px;
  -webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
  transition: opacity 0.5s;
  outline: none;
}

.footer{
  bottom:0;
  position: fixed;
  width:100%;
  color:white;
  margin-bottom:-10px;
  overflow: hidden;
  z-index:1;
  background-color:rgba(0,0,0,0.7);
}

.new-buttons:hover{
  opacity:0.7;
}

.image1{
  height:300px;
  width:100%;
  overflow:hidden;
}


.container-left{
  text-align:center;
  width:100%;
  flex: 0 0 500px;
  overflow-x:hidden;
  display:inline-block;
}

.question-card{
  text-align:left;
  margin:20px;
  border-radius:5px;
  padding:10px;
  -webkit-box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.62);
  -moz-box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.62);
  box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.62);
}
.question-card p{
  margin-left: 30px;
}
.question-card:hover{
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.62);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.62);
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.62);
}

@media only screen and (min-width: 815px) {
  .questions{
    height:500px;
  }
  .navbar ul{
    text-align:center;
  }
  .container-left{
    flex: 0 0 500px;
  }
}
@media only screen and (max-width: 815px) {
  body{
    overflow-y:auto;
  }
  .container-left{
    flex: 0 0 100%;
  }
}

.questions{
  overflow-x:auto;
}

.container-right{
  text-align:center;
  min-width:300px;
  flex: 1;
  overflow:hidden;
}

.price {
  color: grey;
  font-size: 25px;
}
.items{
  text-align:center;
  height:410px;
  overflow-y:hidden;
  overflow-x:hidden;
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  padding-bottom:10px;
  margin-top:0;
}
.card h1{
  max-width:300px;
}

.card button {
  border: none;
  outline: none;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius:5px;
  -webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
  transition: opacity 0.5s;
}
.image123{
  width:100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-clip: border-box;
}

.card button:hover {
  opacity: 0.7;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
  outline:none;
  text-align:center;

}
.navbar{
  border-style:solid;
  border-top:0;
  border-bottom:0;
  border-left:#4287f5;
  border-right:#4287f5;
  text-align: center;
  width:100%;
}

li {
  float: left;
}
li button{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}
li button:hover:not(.active) {
  background-color: #111;
  border-bottom: #111;
  border-right:#111;
  border-left:#111;
  border-style:solid;
  cursor:pointer;
  
  
}
li button{
  border-bottom: #333;
  border-top: 0;
  border-right:#333;
  border-left:#333;
  border-style: solid;
  outline: none;
}
.active:hover{
  background-color: #111;
  cursor:pointer;
  border-right:#111;
  border-left:#111;
  border-style:solid;
}
.active {
  border-bottom: #4287f5;
  border-top: 0;
  border-right:#333;
  border-left:#333;
  border-style: solid;
}
body {
  margin:0;
  overflow-x:hidden;

  }
html{
  font-family: 'Roboto', sans-serif;
}
.serachbar{
  text-align: center;
 border-style:solid;
 border-color:#4287f5;
 height:30px;
 border-radius:5px;
 font-size: 20px;
 color:black;
}
.serachbar[type='submit']{
  height:35.2px;
  width:60px;
}
.serachbar[type='text']{
  width:80%;
}
.form{
  margin:20px;
  text-align:center;
}
.serachbar:hover{
  background-color: #4287f5;
  color:white
}
.photocard{
  background-size:cover;
}